node_modules/
test/
package.js
plugin.js
.github/
.editorconfig
.eslintignore
.eslintrc.json
.htmlhintrc
.gitattributes
.gitignore
.nvmrc
importmap.json
importmap.yaml
*.config.js
*.gz
*.tgz
*.log
*.bak
*.min.*
*.map
*.env
